{% extends "personal/header.html" %}

{% block content %}
<h2>Contact us</h2>
<br><br>
<address>
  <strong>Akhil Selvakumar</strong><br>
  301/F4, Lok Upvan 2<br>
  Vasant Vihar Jn., Thane 400610<br>
  <abbr title="Phone"><span class="glyphicon glyphicon-earphone"></span></abbr> : (+91) 9967737228<br>
  <abbr title="E-mail"><span class="glyphicon glyphicon-envelope"></span></abbr> : akhilselva1997@gmail.com
</address>

<br><br>
<address>
  <strong>Shahid Akhtar Khan</strong><br>
  B.No.7/620, MMRDA, <br>
  Kanjurmarg , Mumbai-400078 <br>
  <abbr title="Phone"><span class="glyphicon glyphicon-earphone"></span></abbr> : (+91) 9004051411<br>
  <abbr title="E-mail"><span class="glyphicon glyphicon-envelope"></span></abbr> : shahidkhan7979@gmail.com
</address>

{% endblock %}