{% extends "personal/header.html" %}

{% block content %}
<div class="col-sm-7">
<h1>Hello there!</h1><br>
<p><h3>Welcome to EXTC Knowledge Exchange!</h3></p><br>

<section>
<p style="font-size: 1.15em;">Here in this site you will find various knowledgeful resources, such as Mumbai University Question Papers, Informative Blogs, and so on!<br>
<p style="font-size: 1.15em;">
Apart from education, students also are in need of entertainment. Therefore we have also created a webapp completely dedicated towards music. To visit click <a href='/music/'>here</a>
</p>

<br><font style="font-size:1em">
<i>This website was developed by 2 college students, so please show your love & support by clicking the like button on our facebook page.<br><br>
</i></font></p>
</section>
</div>
<div class="col-sm-5">
<aside>
<img align="right" src="/media/face.gif" class="img-responsive" style="border-radius: 25px;max-width:100%;height:500px;display: block" alt="extc.jpg">
</aside>
</div>

{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}